@model ASP.Models.EditMemberModel
@{
    ViewBag.Title = "EditMember";
}

<h2>Edit Account</h2>

@using (Html.BeginForm("EditMember", "MemberSide", FormMethod.Post))
{
    <p>
        <label>Current Password</label>

    @Html.PasswordFor(model => model.currentpassword)

        <label>New Password</label>
    
    @Html.PasswordFor(model => model.newpassword)
        <input type="submit" value="Change Password" />
    </p>
    @Html.DisplayFor(model => model.passworderror)
}
@Html.DisplayFor(model => model.passwordsuccess)

@using (Html.BeginForm("EditMember", "MemberSide", FormMethod.Post))
{
    <p>
        <label>Add to account </label>
        @Html.EditorFor(model => model.addtobalance)
        <input type="submit" value="Add" />
    </p>
    @Html.DisplayFor(model => model.balancesuccess)
}