@model ASP.Models.GamesModel
@{
    ViewBag.Title = "Games";
}

<style>
    input,
    select,
    textarea {
        max-width: 60px;
    }
</style>



<div class="games">
    <h1>Games</h1>
    <div class="game">
        <p>
            <label>Odds N Evens</label> £@Html.DisplayFor(model => model.priceO)
            @using (Html.BeginForm("PlayOdds", "MemberSide", FormMethod.Post))
            {
                <input type="submit" value="Play"/>
                @Html.DisplayFor(model => model.resultmessageO, new { Style = "color:green" })
            }
        </p>
        @Html.DisplayFor(model => model.announceO) @Html.DisplayFor(model => model.oddevennumber)
        @Html.DisplayFor(model => model.fundserrorO)
    </div>
    <div class="game">
        <p>
            <label>Lottery</label> £@Html.DisplayFor(model => model.priceL)
            @using (Html.BeginForm("PlayLottery", "MemberSide", FormMethod.Post))
            {
                @Html.EditorFor(model => model.one, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                @Html.EditorFor(model => model.two, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                @Html.EditorFor(model => model.three, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                @Html.EditorFor(model => model.four, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                @Html.EditorFor(model => model.five, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                @Html.EditorFor(model => model.six, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
                <input type="submit" value="Play"/>
                @Html.DisplayFor(model => model.resultmessageL)

            <p>@Html.DisplayFor(model => model.lotteryerror)</p>
            }
            @*</p>*@
            @Html.DisplayFor(model => model.fundserrorL)
        <span>
            @Html.DisplayFor(model => model.announceL)
            @if (Model.lotterynumbers != null)
            {

                foreach (var num in Model.lotterynumbers)
                {
                    @Html.DisplayFor(model => num)
                    @Html.DisplayFor(model => model.spaces)
                }
            }
        </span>
        </div>

        <div class="game">
            <p>

                <label>Lucky Number</label> £@Html.DisplayFor(model => model.priceLN)
                @using (Html.BeginForm("PlayLucky", "MemberSide", FormMethod.Post))
                {
                    @Html.EditorFor(model => model.usernumber, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 9
        }
    })
                    <input type="submit" value="Play" />
                    @Html.DisplayFor(model => model.resultmessageLN)
                }
            </p>
            @Html.DisplayFor(model => model.announceLN) @Html.DisplayFor(model => model.luckynumber)
            @Html.DisplayFor(model => model.fundserrorLN)
        </div>

    </div>





