@model ASP.Models.GamesModel
@{
    ViewBag.Title = "Games";
}

<style>
    input,
select,
textarea {
    max-width: 60px;
}
</style>

<h1>Games</h1>
<p>
    <label>Odds N Evens</label>
@using (Html.BeginForm("PlayOdds", "MemberSide", FormMethod.Post))
{
    <input type="submit" value="Play" />
    @Html.DisplayFor(model => model.resultmessageO)
}
</p>
<p>
    <label>Lottery</label>
@using (Html.BeginForm("PlayLottery", "MemberSide", FormMethod.Post))
{
    @Html.EditorFor(model => model.one, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    @Html.EditorFor(model => model.two, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    @Html.EditorFor(model => model.three, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    @Html.EditorFor(model => model.four, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    @Html.EditorFor(model => model.five, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    @Html.EditorFor(model => model.six, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 50
        }
    })
    <input type="submit" value="Play" />
    @Html.DisplayFor(model => model.resultmessageL)
<p>@Html.DisplayFor(model => model.lotteryerror)</p>
}
</p>
<p>
    <label>Lucky Number</label>
    @using (Html.BeginForm("PlayLucky", "MemberSide", FormMethod.Post))
    {
        @Html.EditorFor(model => model.usernumber, additionalViewData: new
    {
        htmlAttributes = new
        {

            min = 1,
            max = 9
        }
    })
        <input type="submit" value="Play" />
    @Html.DisplayFor(model => model.resultmessageLN)
    }
</p>





