<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lucky Duck - Win BIG!!!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div id ="navbaritems" >
                <ul class="navbarleft">
                    @*<li>@Html.ActionLink("Lucky Duck", "Home", "MemberSide", new { area = "" }, new { @class = "navbar-brand", Style = "color:black" })</li>*@
                    <li>@Html.ActionLink("Home", "MainPage", "MemberSide", new { Style = "color:black" })</li>
                    <li>@Html.ActionLink("Games", "Games", "MemberSide", new { Style="color:black" })</li>
                    <li class ="lastlink">@Html.ActionLink("Edit Account", "EditMember", "MemberSide", new { Style = "color:black", id = "editAccount" })</liclass>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { id ="contact", Style = "color:black" })</li>*@
                </ul>
                <div class ="navbarright" id="partial">
                    @Html.Partial("_LoginPartial")
                </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>A BCD Production</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
